body {
  background-color: gray;
  max-height: 100vh;
  max-width: 100vw;
}

.main-wrapper {
  background-color: white;
  height: 100%;
  min-height: 800px;
  width: 100%;
  display: flex;
}

.main-nav_wrapper {
  background-color: red;
  flex-basis: 20%;
}

.main-header_wrapper {
  background-color: purple;
  flex-basis: 80%;
  display: flex;
  height: 20%;
}

.main-header_wrapper.full {
flex-wrap: wrap;
}

.main-header_header-title {
  background-color: orange;
  flex-basis: 70%;
}

.main-header_header-title.full{
  background-color: orange;
  flex-basis: 100%;
}

.main-header_header-info {
  background-color: white;
  flex-basis: 30%;
}

.main-header_header-info.full{
  background-color: white;
  flex-basis: 100%;
}

.main-content_wrapper {
  background-color: blue;
  flex-basis: 80%;
}

.main-article_wrapper{
  padding: 20px;
}

.main-article_wrapper h2:first-letter{
font-size: 50px;
}