.big {
  width: 100%;
  height: 500px;
  color: white;
}
* {
  font-size: 50px;
}

.red {
  background-color: red;
}

.blue {
  background-color: blue;
}

.orange {
  background-color: orange;
}

.pink {
  background-color: pink;
}

.black {
  background-color: black;
}

.yellow {
  background-color: yellow;
}

tfoot {
  background-color: #432244;
  color: white;
}

table {
  border-spacing: 0;
  border: 2px solid #00ff00;
}

th,
td {
  border: 2px solid #00ff00;
}
thead {
  background-color: #ff221f;
}
tbody {
  background-color: rgb(133, 133, 133, 0.2)
}
